#search {
    background-color:whitesmoke;
    border:2px solid aqua;
    border-radius: 25px;
    color: aqua;
    width: 130px;
    height: 25px;
    margin: 45px 45px 5px 45px;

}

#circle {
    color:white;
    background-color: aqua;
    border-radius: 50%;
    width:25px;
    height: 25px;
    border:none;
    font-size: 20px;
    margin: 5px 45px 5px 45px;
}

#create_account {
    color:white;
    background-color: blue;
    border: 2px solid black;
    margin: 5px 45px 5px 45px;
    width:160px;
    height:30px;
    box-shadow: 3px 3px black;
}
